[submodule "CAN2matrix/modules/util"]
	path = CAN2matrix/modules/util
	url = git@github.com:mkleemann/util.git
[submodule "CAN2matrix/modules/adc"]
	path = CAN2matrix/modules/adc
	url = git@github.com:mkleemann/adc.git
[submodule "CAN2matrix/modules/can"]
	path = CAN2matrix/modules/can
	url = git@github.com:mkleemann/can.git
[submodule "CAN2matrix/modules/leds"]
	path = CAN2matrix/modules/leds
	url = git@github.com:mkleemann/leds.git
[submodule "CAN2matrix/modules/spi"]
	path = CAN2matrix/modules/spi
	url = git@github.com:mkleemann/spi.git
[submodule "CAN2matrix/modules/timer"]
	path = CAN2matrix/modules/timer
	url = git@github.com:mkleemann/timer.git
[submodule "CAN2matrix/modules/uart"]
	path = CAN2matrix/modules/uart
	url = git@github.com:mkleemann/uart.git
[submodule "cmake"]
	path = cmake
	url = git@github.com:mkleemann/cmake-avr.git
